<!DOCTYPE html>
<html>
  <head>
    <title><%= @post.title %></title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
  </head>
  <body>
    <header>
      <div class="title">
        <a href="/">
          <span class="first-name"><span class="first-letter">M</span>ASATO</span><span class="family-name"><span class="first-letter">H</span>ATAYAMA</span>
        </a>
      </div>
    </header>

    <nav></nav>

    <section>
      <article>
        <div class="title"><%= @post.title %></div>
        <div>
          <span class="date"><%= @post.date.strftime($cfg[:date_format]) %></span>
          <a href="/category/<%= @post.category %>" class="category"><%= @post.category %></a>
          <a href="/<%= @post.post_id %>" class="permlink">∞</a>
        </div>
        <div class="content">
          <%= @markdown.render(@post.content) %>
        </div>
      </article>
    </section>

    <footer>
      <div class="copyright">
        Copyright &copy; <%= Date.today.strftime("%Y") %> Masato Hatayama
      </div>
    </footer>
  </body>
</html>
