<div class="single-entry">
  <h2><%= @entry.title %></h2>
  <div>
    <span class="date"><%= @entry.date.strftime(settings.date_format) %></span>
    <a href="/<%= @entry.id %>" class="permlink">∞</a>
    <span class="category"><%= @entry.category.capitalize %></span>
  </div>
  <div class="content">
    <%= Kramdown::Document.new(@entry.content, {header_offset: 1}).to_html %>
  </div>
  <div class="separator">◆</div>
</div>
